@import "font-awesome.min";
@import "bootstrap-theme.min";
@import "bootstrap.min";
@import "colors";

/*==========================================================*/
// Global
/*==========================================================*/
html, body {
	height: 100%;
}
body {
	font-size: 10px;
	-webkit-font-smoothing: antialiased; 
	-webkit-text-size-adjust: 100%;
}

p {
	letter-spacing: 0.5px;
}
input:focus, 
textarea:focus {
	outline: none;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Montserrat', sans-serif;
}
h2 {
    font-size: 38px;
    font-weight: 700;
    letter-spacing: -2px;
}
a {
	color: $green;
	&:hover {
		color: $green;
		text-decoration: underline;
	}
}

@import "buttons";

.form-control:focus {
	border-color: $green;
}
.web-app {
	color: #fff;
    background: $darkblue;
	.wrap {
		padding: 50px 0;
	}

	.wh1-title {
	    margin-top: 0;
	    margin-bottom: 30px;
	    font-weight: 700;
	    text-align: center;    
	    letter-spacing: 0.75px;
	}
}
.search-box {
	height: auto;
	font-size: 60px;
	color: #212121;
	border: none;
	box-shadow: 0 0;
	background: transparent;

	&:focus {
		border: none;
		box-shadow: 0 0;
	}
	&::-webkit-input-placeholder {
	   color: #212121;
	}

	&:-moz-placeholder { /* Firefox 18- */
	   color: #212121;
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   color: #212121;
	}

	&:-ms-input-placeholder {  
	   color: #212121;
	}
}
.influenced-wrap {
	margin: 0;
	padding: 30px;
	background: $blue;
    border: none;
    border-radius: 5px;
	text-align: center;
}
.socialm-box {
    margin-bottom: 30px;
    border-bottom: 1px solid #38495a;
}
.socialm-title {
	margin-top: 0;
	margin-bottom: 20px;
    font: 400 36px "Raleway",sans-serif;
    text-align: left;
    letter-spacing: 0.75px;
}
.influenced {
	margin-bottom: 35px;
}
.i-image {
	margin-bottom: 5px;
	img {
		width: 50px;
		height: 50px;
		border-radius: 100%;
		border: 3px solid #fff;
	}
}
.i-facebook {
	img {
		border-color: #3b5998;
	}
}
.i-twitter {
	img {
		border-color: #00e4ff;
	}
}
.i-instagram {
	img {
		border-color: #ded1c1;
	}
}
.i-name {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    font: 700 1.8rem "Raleway", sans-serif;
}
.i-details {
    margin-bottom: 20px;
    span {
	    font: 400 1.2rem "Raleway", sans-serif;
	    color: #7793ad;    	
    }

}
.i-value-cont {
    margin: 0 auto;
    width: 80%;
}
.i-value-box {
	i {
	    display: block;
		font: 700 2rem "Montserrat", sans-serif;
	}
}
.i-value-box.fleft {
	float: left;
}
.i-value-box.right {
	float: right;
}
.i-value-title {
    display: block;
    margin-bottom: 8px;
    font: 700 1.2rem "Montserrat", sans-serif;
}
.i-value {
	margin-bottom: 15px;
	.value {
		font-size: 14px;
	}
	.indicator-value {
	    display: inline-block;
	    position: relative;
	    top: -1px;
	    margin-right: 8px;
	    width: 7px;
	    height: 7px;
	    border-radius: 10px;
	    background: grey;

	    &.high {
	    	background: #ee4f4b;
	    }
	}
}

@import "nav-tabs";
@import "filter-box";
